dt {
    color: blue;
}
div {
    background: #4c1fa6; 
    width: 200px;
    color: white;
    padding: 4px 8px 12px 28px;
    border: 5px solid purple;
    border-radius: 6px;
}
span {
    background: red;
}