/* fonts */
@font-face {
    font-family: "Iosevka Dingdong";
    src: url("https://raw.githubusercontent.com/Xextan/iosevka-dingdong/refs/heads/main/dist/IosevkaDingdong/TTF/IosevkaDingdong-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Iosevka Dingdong";
    src: url("https://raw.githubusercontent.com/Xextan/iosevka-dingdong/refs/heads/main/dist/IosevkaDingdong/TTF/IosevkaDingdong-Oblique.ttf");
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Iosevka Dingdong";
    src: url("https://raw.githubusercontent.com/Xextan/iosevka-dingdong/refs/heads/main/dist/IosevkaDingdong/TTF/IosevkaDingdong-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Iosevka Dingdong";
    src: url("https://raw.githubusercontent.com/Xextan/iosevka-dingdong/refs/heads/main/dist/IosevkaDingdong/TTF/IosevkaDingdong-BoldOblique.ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
/* things */
* {
    box-sizing: border-box;
}
html {
    font-family: "Iosevka Dingdong", sans-serif;
    --xpurple: #600083; /* from xexlogo */
    --xblue: #3a84ca; /* oklch 60% 0.13 250 */
    --xyellow: #a87600; /* oklch 60% 0.13 80 */
    --bg: white;
    --fg: black;
    background: var(--bg);
    color: var(--fg);
}
body {
    display: grid;
    margin: 0;
    grid-template-areas: "left main right";
    grid-template-columns: [full-start] 1fr minmax(0, 4fr) 1fr [full-end];
}
header {
    grid-column: full;
    margin: 0 0 1em;
    padding: 0 1em;
    color: white;
    background-color: var(--xpurple);
    h1 {
        text-align: center;
    }
}
body > :not(header) {
    grid-column: main;
}
nav {
    display: flex;
    gap: 0;
    border-bottom: 1px solid var(--xpurple);
    overflow-x: auto;
    position: sticky;
    top: 0;
    background: var(--bg);
    a {
        padding: 0.25em 0.5em;
        text-decoration: none;
        color: var(--fg);
        border-bottom: 2px solid transparent;
        &:hover {
            color: var(--xyellow);
        }
    }
}
body:not(:has(section:target)) nav a[href="#main"],
body:has(#main:target) nav a[href="#main"],
body:has(#learn:target) nav a[href="#learn"],
body:has(#texts:target) nav a[href="#texts"],
body:has(#scripts:target) nav a[href="#scripts"],
body:has(#mysteries:target) nav a[href="#mysteries"],
body:has(#tools:target) nav a[href="#tools"] {
    color: var(--xyellow);
    border-bottom-color: var(--xyellow);
    font-weight: bold;
}
section {
    display: none;
}
section:target, body:not(:has(section:target)) #main {
    display: block;
}
a {
    color: var(--xblue);
}
.fullwidth {
    grid-column: full;
}
li {
    margin: 1em 0;
}
ul li {
    list-style-type: disc;
}
mark {
    background: var(--xpurple);
    color: white;
}
input {
    font: inherit;
    &[type=text] {
        border: 1px solid var(--purple);
    }
}
/* dark mode */
@media (prefers-color-scheme: dark) {
    html {
        --xpurple: #8831b3; /* oklch 50% 0.2 312 */
        --xblue: #9cd3ff; /* oblch 85% 0.11 250 */
        --xyellow: #f4c677; /* oklch 85% 0.11 80 */
        --bg: black;
        --fg: white;
    }
}
/* mobile */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}
