/* fonts */
@font-face {
  font-family: "Noto Sans";
  src: url("https://raw.githubusercontent.com/notofonts/notofonts.github.io/refs/heads/main/fonts/NotoSans/hinted/ttf/NotoSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("https://raw.githubusercontent.com/notofonts/notofonts.github.io/refs/heads/main/fonts/NotoSans/hinted/ttf/NotoSans-Italic.ttf");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("https://raw.githubusercontent.com/notofonts/notofonts.github.io/refs/heads/main/fonts/NotoSans/hinted/ttf/NotoSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("https://raw.githubusercontent.com/notofonts/notofonts.github.io/refs/heads/main/fonts/NotoSans/hinted/ttf/NotoSans-Bold.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans-BoldItalic.ttf");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}
/* things */
html {
  font-family: "Noto Sans", sans-serif;
}
header {
  color: white;
  background-color: #600083; /* from xexlogo */
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: start;
  padding-left: 1em;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1em;
}
header > * {
  display: block;
  /* margin-inline: 2rem; */
}
header a {
  color: white;
}
header > :nth-last-child(2) {
  margin-right: -1rem;
}
.fill {
  flex: 1;
}
a {
  color: #0063c2; /* oklch 50% 0.2 250 */
}
html {
  max-width: 600px;
  margin-inline: auto;
  line-height: 1.4;
}
.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
body {
  margin: 0;
  padding: 8px;
}
* {
  box-sizing: border-box;
}
li {
  margin: 1em 0;
}
ul li {
  list-style-type: disc;
}
dt {
  margin-top: 1em;
}
input {
  font-size: inherit;
}
/* dark mode */
@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
    color: white;
  }
  header {
    background-color: #8831b3; /* oklch 50% 0.2 312 */
  }
  a {
    color: #9cd3ff; /* oklch 85% 0.11 250 */
  }
}
/* mobile */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}
